
/* SideBar */
.sidebar-container {
    width: 250px; /* Adjust width as needed */
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  .sidebar-item {
    text-decoration: none;
    color: black;

  }

  .sidebar-item.active {
    background-color: #e0e0e0; /* Active background */
    font-weight: bold;
  }
