.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row; /* Change to row to place sidebar and content side by side */
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: grey;
}

.sidebar.open {
  transform: translateX(0); /* Show sidebar */
}

.sidebar.closed {
  transform: translateX(-100%); /* Hide sidebar */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Default hidden in mobile */
  }

  .sidebar.open {
    transform: translateX(0); /* Show on toggle */
  }
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Content and Navbar stacked vertically */
  overflow-y: auto;
}

.navbar {
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: #ffffff; /* Change to desired Navbar color */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for distinction */
  display: flex;
  align-items: center;
  padding: 0 16px; /* Add padding for Navbar content */
color: black;

}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px; /* Maintain padding for content */
  color: black;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.padding {
  padding: 16px;
}

.padding-2xl {
  padding-left: 40px;
  padding-right: 40px;
}
